<fieldset class="flex flex-col items-end w-fit my-2">
  <div class="my-1">
    <label for="collection-title">Title</label>
    <input
     class="border-2 border-slate-500 rounded mx-1"
      id="title"
      name="title"
      value="{{ collection.title if collection else '' }}"
      required
    />
  </div>
  <div class="my-1">
    <label for="description">Description</label>
    <input
      class="border-2 border-slate-500 rounded mx-1"
      id="description"
      name="description"
      value="{{ collection.description if collection else ''}}"
    />
  </div>

  <div class="bg-sky-300 px-1 rounded-md my-2">
    <button class="" type="submit">Save</button>
  </div>

</fieldset>
