<section>
  <div
    class="bg-white/95 border-2 border-slate-900 flex flex-col items-center justify-center py-5 rounded-3xl w-72 my-10 shadow-xl md:w-[20vw] md:space-y-8 "
  >
    <legend class="text-2xl">{{title}}</legend>

    <div class="flex flex-col items-start space-y-5 my-5">
      <div class="flex flex-col ">
        <label class="mb-1 text-sm" for="title">Title</label>
        <input
          class="p-2 border-2 border-slate rounded-xl shadow-xl w-56"
          id="title"
          name="title"
          type="text"
          value="{{ collection.title if collection else ''}}"
        />
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm" for="description">Description</label>
        <textarea
          class="p-2 border-2 border-slate rounded-xl shadow-xl w-56"
          id="description"
          name="description"
          type="text"
          value="{{ collection.description if collection else ''}}"
        ></textarea>
      </div>
    </div>

    <button
      class="bg-slate-200 border-2 border-slate-400/50 shadow-xl rounded-xl py-1 px-3 mt-2 text-lg"
      type="submit"
    >
      Save
    </button>
  </div>
</section>
