<header
  class="w-full bg-red-600/80 backdrop-blur-lg flex flex-row px-4 items-end justify-between pb-3 pt-1 fixed text-white space-y-1 md:flex-row md:pb-6 md:pt-4"
>
  <!-- title -->
  <div class="flex flex-row items-end ">
    <div class="flex flex-row text-3xl space-x-2 font-['showtime'] md:text-5xl">
      <h1>Premiere</h1>
      <span class="text-4xl bold font-['pal']">pal</span>
    </div>
    <nav
      class="flex flex-row text-xl space-x-2 text-sm font-['emeraldgrey'] justify-left mx-2 md:flex-row-reverse md:w-fit md:ml-auto"
    >
      <!-- search -->
      <input
        class="rounded-sm w-16 text-center h-[12px] text-slate-500 text-xs p-2 mx-5 mb-1 md:w-full"
        id="search"
        name="search"
        value="Search"
        required
      />
    </nav>
  </div>

  <!-- oscar prof pic icon -->
  <div class="">
    <img
      class="background-white mx-3"
      src="/static/images/profile-icon.png"
      width="20px"
    />
  </div>
</header>

<!-- </div> -->

<!-- collections
    <div class="flex flex-row">
      <p class="">Collections</p>
    </div> -->
