<header
  class="w-full bg-red-900 backdrop-blur-lg flex flex-row px-4 pt-2 pb-3 z-50 items-center justify-between text-white fixed md:flex-row md:py-5"
>
  <!-- title -->
  <div class="flex flex-row items-end space-x-6 md:space-x-12">
    <a class="flex flex-row text-3xl space-x-2 md:text-5xl items-end" href="/">
      <h1 class="font-['showtime']">Premiere</h1>
      <span class="text-4xl bold font-['pal']">pal</span>
    </a>
    <nav
      class="flex flex-row text-xl space-x-1 text-sm justify-left md:flex-row-reverse md:ml-auto"
    >
      <!-- search -->
      <form
        class="flex flex-row items-center"
        method="POST"
        action="{{ url_for('search') }}"
      >
        <input
          class="rounded-sm w-16 mb-1 text-left px-1 h-[12px] w-[60px] text-slate-500 border-[2px] py-2 text-xs md:mb-0 md:w-[150px] md:h-[18px]"
          id="search"
          name="search"
          type="search"
          placeholder="Search"
          required
        />
        <button class="w-4 mx-1 mb-1 md:w-5 md:mb-0" type="submit">
          <img src="/static/icons/search.svg" />
        </button>
      </form>
    </nav>
  </div>

  <!-- prof pic icon -->
  <div class="flex flex-col items-end md:space-x-8">
    <input
    class="background-white rounded-[1px] w-[40px] md:w-[60px]"
    type="image"
      src="/static/images/profile.png"
      width="45px"
      onclick="toggleDropdown()"
    />
    <div id="dropdown" class="mb-12 hidden bg-black/90 backdrop-blur-[200px] absolute right-5 top-[60px] text-right py-2 rounded-bl-2xl -mr-5 flex flex-col md:top-[100px] md:right-0">
      {% if session.email %}
      <a class="my-1 text-[20px] pr-5 pl-7">{{ session.name }}</a>
      <a class="py-6 text-sm pr-5 pl-7 text-white/70 hover:bg-white/30" href="/user">My Profile</a>
      <a class="py-6 text-sm  pr-5 pl-7 text-white/70 hover:bg-white/30" href="/collections">My Collections</a>
      {% endif %}



      <!-- if logged in -->
      {% if session.email %}
      <a class="mb-2 text-sm pr-5 pl-7 text-slate-400/50 hover:text-white md:py-4" href="/logout">Logout</a>
      {% else %}
      <a class="mb-2 text-sm pr-5 pl-7 text-slate-400/50 hover:text-white md:py-4" href="/login">Login</a>
      {% endif %}
      <!-- if not logged in -->
      <!-- <a class="mb-2 mt-12 text-xs pr-5 pl-7 text-white/50 hover:text-white md:py-4" href="#">Login</a> -->

    </div>
  </div>
</header>

  <script>
  function toggleDropdown() {
    var x = document.getElementById("dropdown");
    if (x.style.display === "flex") {
      x.style.display = "none";
    } else {
      x.style.display = "flex";
    }
  }
</script>

<!-- collections
    <div class="flex flex-row">
      <p class="">Collections</p>
    </div> -->
