<header
  class="w-full bg-red-900 backdrop-blur-lg flex flex-row px-4 pt-2 pb-3 items-center justify-between text-white fixed md:flex-row md:py-5"
>
  <!-- title -->
  <div class="flex flex-row items-end space-x-6 md:space-x-12">
    <a class="flex flex-row text-3xl space-x-2 md:text-5xl items-end" href="/">
      <h1 class="font-['showtime']">Premiere</h1>
      <span class="text-4xl bold font-['pal']">pal</span>
    </a>
    <nav
      class="flex flex-row text-xl space-x-1 text-sm justify-left md:flex-row-reverse md:ml-auto"
    >
      <!-- search -->
      <input
        class="rounded-sm w-16 mb-1 text-center h-[12px] w-[80px] text-slate-500 border-[2px] py-2 text-xs md:mb-0 md:w-[150px] md:h-[18px]"
        id="search"
        name="search"
        placeholder="Search"
        required
      />
    </nav>
  </div>

  <!-- prof pic icon -->
  <div class="">
    <img
      class="background-white rounded-[1px] w-[40px] md:w-[60px]"
      src="/static/images/profile.png"
      width="45px"
    />
  </div>
</header>

<!-- </div> -->

<!-- collections
    <div class="flex flex-row">
      <p class="">Collections</p>
    </div> -->
