<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {

          }
        }
      }
    </script>
    <title>Premiere Pal</title>
  </head>
  <body class="flex flex-col">
    {% include 'partials/header.html' %}
    <main>
      <div class="">{% block content %}{% endblock %}</div>
    </main>
    {% include 'partials/footer.html' %}
  </body>
</html>
