{% extends 'base.html' %}

{% block content %}<section>
  <div class="flex flex-col items-center mb-6">
    <div class="flex flex-row items-center justify-between w-full">
  <!-- back -->
  <button href="javascript:history.back()">
    {% include 'partials/back.html' %}
  </button> 

     <!-- edit and delete NEEDS HELP -->
     <div class="flex flex-row space-x-2">
      <form method="POST" action="/collections/{{ collection._id }}/delete">
        <button
          class="bg-rose-400/80 shadow-xl rounded-xl h-fit py-1 px-2 text-sm"
          type="submit"
        >
          Delete
        </button>
      </form>
      <button
        class="bg-slate-200/70 shadow-xl rounded-xl py-1 h-fit px-2 text-sm"
        type="submit"
      >
        <a href="/collections/{{ collection._id }}/edit">Edit</a>
      </button>
    </div>
  </div>
  <!-- collection title and description -->
  <h2 class="mobile-title text-white">{{ collection.title }}</h2>
  <p class="text-sm text-center w-72 text-white/70">
    {{ collection.description }}
  </p>
</div>

<div
class="flex flex-row justify-center flex-wrap my-3 md:justify-center md:mx-18"
>    
  {% for movie in collection.movies %}
    <div class="flex flex-col items-center my-3 mx-3"> 
    <div class="">
      <a class="w-[120px] relative flex justify-center relative md:w-[200px]" href="/overview/{{ movie.original_title }}"
      ><img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"/></a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}