{% extends 'base.html' %} {% block content %}
<section>
  <!-- title -->
  <h2 class="mobile-title text-white">Your Collections</h2>
<div>
    <!-- back button -->
    <a href="/"> {% include 'partials/back.html' %} </a>

    <div class="flex flex-row items-start mx-2 justify-center flex-wrap md:mx-18">
      <!-- loop through collections -->
    {% for collection in collections %}
    <a href="/collections/{{ collection._id }}">
      <div class="rounded bg-white/80 p-2 w-32 h-48 m-4 md:w-48">
        <h4 class="text-3xl border-black">{{ collection.title }}</h4>
        <p class="text-sm text-black/80">{{ collection.description }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

  <!-- add new collection button -->
  <a href="/collections/new"> {% include "partials/add.html" %} </a>
</section>
{% endblock %}
