{% extends 'base.html' %} {% block content %}
<section>
  <h2 class="mobile-title">Your Collections</h2>
  
  <div class="flex flex-row items-start justify-center flex-wrap">
    {% for collection in collections %}
    <a href="/collections/{{ collection._id }}">
    <div
      class="flex flex-col bg-white/90 items-center justify-center text-center rounded-md w-64 h-fit m-6"
    >
        <h4
          class="text-3xl py-2 w-64 border-b-2 border-black bg-slate-400 rounded-t-md"
        >
          {{ collection.title }}
        </h4>
        <p class="text-sm text-black/80 my-3"> {{ collection.description }}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
