{% extends 'base.html' %} {% block content %}
<section class="w-full">
  <div class="flex flex-col items-center mb-6">
    <div class="flex flex-row items-center justify-between w-full">
      <!-- back button -->
     {% include 'partials/back.html' %}

      <!-- edit and delete NEEDS HELP -->
      <div class="flex flex-row space-x-2">
        <form method="POST" action="/collections/{{ collection._id }}/delete">
          <button
            class="bg-rose-400/80 shadow-xl rounded-xl h-fit py-1 px-2 text-sm"
            type="submit"
          >
            Delete
          </button>
        </form>
        <button
          class="bg-slate-200/70 shadow-xl rounded-xl py-1 h-fit px-2 text-sm"
          type="submit"
        >
          <a href="/collections/{{ collection._id }}/edit">Edit</a>
        </button>
      </div>
    </div>
    <!-- collection title and description -->
    <h2 class="mobile-title text-white">{{ collection.title }}</h2>
    <p class="text-sm text-center w-72 text-white/70">
      {{ collection.description }}
    </p>
  </div>

  <div
    class="flex flex-row justify-center flex-wrap my-3 md:justify-center md:mx-18"
  >
    <!-- loop through movies will be here -->
    <div class="flex flex-col items-center my-3 mx-3 relative">
      <button>
        <img
          class="bg-white/70 backdrop-blur rounded-full p-1 w-8 absolute z-50 top-2 right-2"
          onclick="toggleSettings()"
          src="/static/icons/gear.svg"
        />
      </button>
      <div class="w-[120px] relative flex justify-center relative md:w-[200px]">
        <a href="/overview"
          ><img class="z-0 rounded-sm" src="/static/images/midsommar.jpeg"
        /></a>
        <div
          id="edit-overlay"
          class="hidden z-1000 h-full w-full absolute bottom-0 flex flex-col items-center space-y-4 justify-center bg-black/70 text-white"
        >
          <button
            class="shadow-xl rounded-xl py-1 px-3 mt-2 text-lg bg-slate-300/60"
            type="submit"
          >
            <a>Edit</a>
          </button>
          <button
            class="bg-rose-400/70 shadow-xl rounded-xl py-1 px-3 mt-2 text-lg"
            type="submit"
          >
            Remove
          </button>
        </div>
      </div>
      <h3 class="mt-2 text-white text-sm w-[110px] text-center">Movie Title</h3>
    </div>
    <!-- end for -->
  </div>

  <!-- add new movie to collection button -->
  <a> {% include "partials/add.html" %} </a>
</section>

<script>
  function toggleSettings() {
    var x = document.getElementById("edit-overlay");
    if (x.style.display === "flex") {
      x.style.display = "none";
    } else {
      x.style.display = "flex";
    }
  }
</script>
{% endblock %}
