{% extends 'base.html' %} {% block content %}
<section>
  <div class="flex flex-col items-center mb-6">
    <div class="flex flex-row items-center justify-between w-full">
      <!-- back button -->
      <a href="/collections"> {% include 'partials/back.html' %} </a>

      <!-- edit and delete NEEDS HELP -->
      <div>
        <button
          class="bg-rose-400/80 shadow-xl rounded-xl h-fit py-1 px-2 text-sm"
          type="submit"
        >
          <a href="/collections/{{ collection._id }}/delete">Delete</a>
        </button>
        <!-- Ahyeon's -->
        <p><form method='POST' action='/collections/{{ collection._id }}/delete'>
          <button style='color: white;' type='submit'>Delete</button>
      </form></p>

        <button
          class="bg-slate-200/70 shadow-xl rounded-xl py-1 h-fit px-2 text-sm"
          type="submit"
        >
          <a href="/collections/{{ collection._id }}/edit">Edit</a>
        </button>
      </div>
    </div>
    <!-- collection title and description -->
    <h2 class="mobile-title text-white">{{ collection.title }}</h2>
    <p class="text-sm text-center w-72 text-white/70">
      {{collection.description }}
    </p>
  </div>

  <div
    class="flex flex-row justify-center flex-wrap my-3 md:justify-center md:mx-18"
  >
    <!-- loop through movies will be here -->
    <div class="flex flex-col items-center my-3 mx-3">
      <div
        class="w-[120px] relative flex justify-center relative group md:w-[200px]"
      >
        <img class="z-0 rounded-sm" src="/static/images/midsommar.jpeg" />
        <div
          class="z-1000 text-transparent h-full w-full absolute bottom-0 flex flex-col items-center space-y-4 justify-center hover:bg-black/80 group-hover:text-white"
        >
          <button
            class="group-hover:bg-slate-400/70 shadow-xl rounded-xl py-1 px-3 mt-2 text-lg"
            type="submit"
          >
            <a>Edit</a>
          </button>
          <button
            class="group-hover:bg-rose-400/70 shadow-xl rounded-xl py-1 px-3 mt-2 text-lg"
            type="submit"
          >
            Delete
          </button>
        </div>
      </div>
      <h3 class="mt-2 text-white text-sm w-[110px] text-center">Movie Title</h3>
    </div>
    <!-- end for -->
  </div>
</section>
{% endblock %}
