{% extends 'base.html' %} {% block content %}
<section class="bg-slate-400/80 w-fit rounded-lg px-5 py-3 text-black">
      <form method="POST" action="/collections" class="flex justify-center items-center flex-col">

        <h2 class="text-center text-xl">Edit Collection</h2>

        {% include 'partials/collection-form.html' %}

        <div class="bg-sky-300 px-2 py-[1px] rounded-md my-2 w-fit">
          <button class="text-sm text-black" type="submit">Save</button>
        </div>

      </form>

</section>

{% endblock %}