{% extends 'base.html' %}

{% block content %}<section>
<div class="flex flex-col justify-center">
  <h2 class="mobile-title text-white">Welcome!</h2>
  <h2 class="text-center text-sm text-white">See What's Trending Today</h2>
</div>
<div
class="flex flex-row justify-center flex-wrap my-3 md:justify-center md:mx-18"
>    {% for result in results %}
    <div class="flex flex-col items-center my-3 mx-3"> 
    <div class="">
      <a class="w-[120px] relative flex justify-center relative md:w-[200px]" href="/overview/{{ result['original_title'] }}"
      ><img src="https://image.tmdb.org/t/p/original{{ result.poster_path }}"/></a>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}