{% extends 'base.html' %} {% block content %}
<section class="w-full flex flex-col items-center">



  <div class="flex flex-col relative items-center -mx-5 -mt-5">
    <img class="w-[]" src="/static/images/cinema.png" />
    <div class="flex flex-col text-black top-20 absolute">
      <h1 class="text-6xl ">hi pal</h1>
      <p class="m-4 ml-24 text-md">Let's watch a movie!</p>
    </div>
  </div>
  
  <a
  href="/login"
  class="bg-sky-300/70 shadow-xl rounded-xl py-1 px-3 text-2xl mt-16"
>
  Get Started!
</a>

</section>
{% endblock %}
