{% extends 'base.html' %} {% block content %}
<section
  class="bg-white/95 border-2 border-slate-900 flex flex-col items-center justify-center pb-5 px-6 rounded-3xl my-20 mx-6 shadow-xl md:space-y-8"
>


  <!-- flash -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li style="font-size: 25px; justify-content: center; display: flex">
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <legend class="text-2xl">Let's be pals!</legend>
  <form
    class="flex flex-col items-center space-y-2 my-5"
    method="POST"
    action="{{ url_for('register') }}"
  >
  <div class="flex flex-col">
    <input
      class="p-2 border-2 border-slate rounded-xl shadow-xl w-56"
      type="text"
      name="username"
      placeholder="Username"
    />
  </div>
    <div class="flex flex-col">
      <input
        class="p-2 border-2 border-slate rounded-xl shadow-xl w-56"
        type="text"
        name="email"
        placeholder="Email"
      />
    </div>
    <div class="flex flex-col">
      <input
        class="p-2 border-2 border-slate rounded-xl shadow-xl w-56 mb-5"
        type="password"
        name="pass"
        placeholder="Password"
      />
    </div>
    <button
      class="bg-sky-300/70 shadow-xl rounded-xl py-1 px-3 text-lg mt-4"
      type="submit"
    >
      Register
    </button>
  </form>
  <div class="text-sm text-black/80 mt-3">
    <a href="{{ url_for('login_index') }}">Already have an account?</a>
  </div>
</section>

{% endblock %}
