{% extends 'base.html' %} {% block content %}
<section class="mx-4 md:mx-20">

  <!-- back -->
  <button href="javascript:history.back()">
    {% include 'partials/back.html' %}
  </button> 

  <!-- title -->
  <div
    class="flex flex-row text-4xl justify-center text-white items-center -mt-5 md: mt-0 md:justify-right md:mb-20"
  >
    <h1 class="">{{ movie.title }}</h1>
    <p class="mx-2 text-3xl text-white/70">
      ({{ movie.release_date }})
    </p>
  </div>

  <div class="flex flex-row items-start mt-7 md:px-[50px]">
    <!-- poster -->
    <div class="">
      <img
        class="rounded-sm w-[140px] md:w-[300px]"
        src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
      />
    </div>

    <!-- overview -->
    <div
      class="border-0 border-slate-500 px-5 text-white mt-3 text-3xl md:px-16 md:text-5xl"
    >
      <div class="card"><div class="card-body">
        <iframe width="560" height="315" src="https://youtube.com/embed/{{ video_id }}" alt="YouTube Trailer" allowfullscreen></iframe>
      </div>

      <div class="text-sm md:text-lg md:py-4">
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </div>

  <!-- genres  -->
  <div class="text-sm w-72 text-white/70">
    <p >Genres:</p>
    {% for genre in genres %}
    <p>{{ genre }}</p>
    {% endfor %}
  </div>

  <!-- add movie to collection button -->
  <a href="/movie/{{ movie.original_title }}/collections"> {% include 'partials/add.html' %} </a>
</section>
{% endblock %}
