{% extends 'base.html' %} {% block content %}
<div class="flex flex-row items-start md:px-[50px]">
  <div class="">
    <img class="w-[120px] p-2 bg-white border-4 border-black md:w-[300px]" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" >
  </div>
<div class="border-0 border-slate-500 px-5 text-3xl md:px-16 md:text-5xl">
  <div class="flex flex-row items-end">
  <h1 class="">{{ movie.title }}</h1>
  <p class="text-xl mx-2 md:mb-2">({{ movie.release_date[-4:] }})</p>
</div>
  <div class="text-sm md:text-lg md:py-4">
    <p>{{ movie.overview }}</p>
  </div>  
  <div class="bg-blue p-4">
    {% for genre in genres %}
    <p>{{ genre }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}