{% extends 'base.html' %} {% block content %}
<section class="flex flex-col w-full text-white md:mx-[300px] md:mt-9">
  <!-- back -->
  <button href="javascript:history.back()">
    {% include 'partials/back.html' %}
  </button> 
  <div class="w-full flex flex-row items-end pl-16 space-x-6 mt-2">
    <img class="w-20" src="/static/images/profile.png" />
    <div class="flex flex-col mb-3">
      <h2 class="text-2xl">{{ session.name }}</h2>
      <p class="text-xs text-white/80">{{ session.email }}</p>
    </div>
  </div>
  <div class="my-4 md:mt-10">
    <h3 class="mb-2 my-4 mx-2">Collections</h3>
    <div class="bg-slate-400/30 rounded">
      <!-- loop through user's collections -->
      <div class="flex flex-row items-center p-3 hover:bg-slate-400/20">
        <p class="">collection 1</p>
        <p class="text-white/40 text-xs mx-3">
          this is the description of the collection
        </p>
      </div>
      <p class="p-3 hover:bg-slate-400/20">collection 2</p>
      <p class="p-3 hover:bg-slate-400/20">collection 3</p>
      <p class="p-3 hover:bg-slate-400/20">collection 4</p>
      <p class="p-3 hover:bg-slate-400/20">collection 5</p>
      <p class="p-3 hover:bg-slate-400/20">collection 6</p>
    </div>
  </div>
</section>
{% endblock %}
